__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/*
!dist/LPJK_Contact_Scraper.exe
*.spec
!LPJK_Contact_Scraper.spec
.env
.vscode/
.idea/
hasil_scraping/
test_out/
*.zip

# File testing (tidak perlu di-push)
test_app.py
